@font-face {
    font-family: 'noto_sanslight';
    src: url('./notosans-light-webfont.woff2') format('woff2'),
         url('./notosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2.6rem;
  }

.bodyText {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0;
}