.Container {
  background-color: white;
  height: fit-content;
}

.GreenContainer {
  background-color: #8BB48D;
  margin-top: 0.7rem;
  display: flex;
  font-size: 1.6rem;
  color: white;
  padding: 5rem;
}

.Title {
  margin: 0;
  font-size: 2.6rem;
}

.TextSide {
  max-width: 50%;
}

.ImageContainer {
  width: 50%;
  text-align: center;
  position: relative;
  display: flex;
}

.Octo {
  height: 14rem;
  width: 16rem;
  margin: auto;
}

.AboutMe {
  margin: 3rem;
  background-color: #ffdcd6;
  padding: 5rem;
}

.bodyText {
  font-size: 1.25rem;
  line-height: 1.3rem;
}

@media only screen and (max-width: 700px) {
  .GreenContainer {
    flex-direction: column;
    font-size: 1rem;
    padding: 2rem;
  }
  .TextSide {
    margin: 2rem 2rem 0rem 2rem ;
    max-width: 100%;
  }
  .ImageContainer {
    padding: 1rem 2rem 0;
    text-align: right;
    width: 100%;
  }
  .Octo {
    width: 14rem;
    height: 12rem;
  }
  .AboutMe {
    padding: 2rem;
    margin: 2rem 1rem;
  }
}