@import url('http://fonts.googleapis.com/css2?family=Coda&display=swap');

.Container {
  background-color: white;
  height: fit-content;
  font-family: Coda;
}

.IntroContainer {
  background-color: #8BB48D;
  margin-top: 0.7rem;
  display: flex;
  font-size: 1.6rem;
  color: white;
}
.Title {
  margin: 0;
  font-size: 2.6rem;
}

.TextSide {
  max-width: 50%;
  margin: 5rem;
}

.ImageContainer {
  width: 50%;
  text-align: center;
  position: relative;
  display: flex;
}

.Octo {
  height: 14rem;
  width: 16rem;
  margin: auto auto 3rem auto;
}

.AboutMe {
  margin: 3rem;
  background-color: #ffdcd6;
  padding: 5rem;
}

@media only screen and (max-width: 700px) {
  .IntroContainer {
    flex-direction: column;
    font-size: 1rem;
  }
  .TextSide {
    margin: 2rem 2rem 0rem 2rem ;
    max-width: 100%;
  }
  .ImageContainer {
    padding: 1rem 2rem;
    margin-left: auto;
    text-align: right;
  }
  .Octo {
    position: relative;
    bottom: 0;
    width: 14rem;
    height: 12rem;
  }
  .AboutMe {
    padding: 2rem;
    margin: 2rem;
  }
}